$colorSchemes: (
  colorScheme1: (
    color1: #988dae,
    color2: #84a59d,
    color3: #f5cac3,
    color4: #f7ede2
  ),
  colorScheme2: (
    color1: #ef8354,
    color2: #939496,
    color3: #f2dda4,
    color4: #bfc0c0
  ),
  colorScheme3: (
    color1: #8892b3,
    color2: #fdebd3,
    color3: #679186,
    color4: #bbd4ce
  )
);

.square {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50px;
  height: 50px;
  margin: 10px;

  .rectangle {
    width: 48%;
    height: 48%;
    margin-bottom: 4%;
  }
}

.all-schemes {
  display: flex;
  justify-content: end;
  @for $i from 1 through 3 {
    $currentColorScheme: map-get($colorSchemes, colorScheme#{$i});
    .square:nth-child(#{$i}) {
      @for $j from 1 through 4 {
        .rectangle:nth-child(#{$j}) {
          background-color: map-get($currentColorScheme, color#{$j});
        }
      }
    }
  }
}


.container {
  display: flex;
  flex-direction: row;
  width: 96%;
  margin: 16px;
}

.box1, .box2 {
  padding: 10px;
  flex: 1;
}

button.active {
  color: #f44336; /* For example, setting the text color to red */
  font-weight: bold; /* Example: making the text bold */
}

