<div class="grid-container" cdkDropListGroup>
  <div class="grid-item" *ngFor="let category of taskCategories; let i = index" [style.background-color]="getTileBackground(i)">
    <div class="category-container">
      <div  class="category-title">
        {{taskCategoryNames[category]}}
      </div>
      <div class="task-details">
        <div
          cdkDropList
          [cdkDropListData]="tasksByCategory[category]"
          [cdkDropListConnectedTo]="getConnectedDropLists(category)"
          class="task-list"
          [id]="category"
        >
          <mat-card
            *ngFor="let task of tasksByCategory[category]"
            class="task-card"
            cdkDrag
            [cdkDragData]="task"
          >
            <mat-card-header>
              <mat-card-title>{{ task.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p><strong>Description:</strong> {{ task.description }}</p>
              <p><strong>Due Date:</strong> {{ task.dueDate | date: 'dd/MM/yyyy' }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button
                (click)="deleteTaskForever(category, task.id?task.id: null)"
                mat-icon-button color="warn"
                aria-label="Delete"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
