.grid-container {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  width: 50%; /* Display two items per row on larger screens */
  @media (max-width: 767px) {
    width: 100%; /* Display one item per row on mobile devices */
  }
}

.task-list{
  min-height: 300px;
}

.category-container {

  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.category-title {
  margin: 16px;
  overflow: hidden;
}

.category-text {
  float: left;
}

.add-button {
  float: right;
}

.task-details {
  margin-bottom: 16px;
}

.task-card {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.task-card:last-child {
  margin-bottom: 32px;
}

$colorSchemes: (
  colorScheme1: (
    color1: #988dae,
    color2: #84a59d,
    color3: #f5cac3,
    color4: #f7ede2
  ),
  colorScheme2: (
    color1: #ef8354,
    color2: #4f5d75,
    color3: #f2dda4,
    color4: #bfc0c0
  ),
  colorScheme3: (
    color1: #e63946,
    color2: #f1faee,
    color3: #a8dadc,
    color4: #457b9d
  )
);

.square {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50px;
  height: 50px;
  margin: 10px;

  .rectangle {
    width: 48%;
    height: 48%;
    margin-bottom: 4%;
  }
}

.all-schemes {
  display: flex;
  @for $i from 1 through 3 {
    $currentColorScheme: map-get($colorSchemes, colorScheme#{$i});
    .square:nth-child(#{$i}) {
      @for $j from 1 through 4 {
        .rectangle:nth-child(#{$j}) {
          background-color: map-get($currentColorScheme, color#{$j});
        }
      }
    }
  }
}



