.grid-container {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  width: 50%; /* Display two items per row on larger screens */
  @media (max-width: 767px) {
    width: 100%; /* Display one item per row on mobile devices */
  }
}

.category-container {

  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.category-title {
  margin: 16px;
  overflow: hidden;
}

.category-text {
  float: left;
}

.add-button {
  float: right;
}

.task-details {
  margin-bottom: 16px;
}

.task-card {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.task-card:last-child {
  margin-bottom: 32px;
}
